# JWT Secret - Generate a random string
JWT_SECRET=z9Xq4Kp2Lm8Nv5@Fw3R%^t7Yb6Jh1Gc4Sx9Ea2Df7Uk3Pn8Lm5Qv2Xy9Wb4Hs6Kt7#$

# Staff Password Hash - Generate with: node -e "console.log(require('bcryptjs').hashSync('AIIH@Staff', 10))"
STAFF_PASSWORD_HASH=$2a$10$z9Xq4Kp2Lm8Nv5@Fw3R%^t7Yb6Jh1Gc4Sx9Ea2Df7Uk3Pn8Lm5Qv2Xy9Wb4Hs6Kt7#$


# Only need to configure the channels you actually use
CHANNEL1_ENDPOINT=https://bingoo.ng/api/v1
CHANNEL1_API_KEY=lv_Bingoo_w311km1efdou593hg6as7754q9t4rpvc

# Optional - only if using Channel 2
CHANNEL2_ENDPOINT=https://api.channel2.com
CHANNEL2_API_KEY=live_sk_98346724cdb6438ba1c78d9bf5a6e768

# Optional - only if using Channel 3
CHANNEL3_ENDPOINT=https://api.channel3.com
CHANNEL3_API_KEY=your_key

# Select active channel
DEFAULT_CHANNEL=channel1

# Toggle mock mode
USE_MOCK_PROVIDER=false